[mysqld]
server_id = 101
log_bin = mysql-bin.log
bind_address = 0.0.0.0 # make sure to bind it to all IPs, else mysql listens on 127.0.0.1
character_set_server = utf8mb4
collation_server = utf8_general_ci
innodb_flush_log_at_trx_commit=1
sync_binlog=1
collation_server=utf8mb4_unicode_ci
binlog_row_image=full
secure-file-priv="/var/lib/mysql-files"
[mysql]
default_character_set = utf8mb4

